<manifest package="com.orosys.sdk.proximity.switchmodule"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >
        <service android:name="com.orosys.sdk.proximity.sw.SwitchService"/>
        <receiver android:name="com.orosys.sdk.proximity.sw.SwitchReceiver">
            <intent-filter>
                <action android:name="com.orosys.sdk.proximity.sw.RECEIVER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
